
.hero_section {
    display: flex;
    height: auto;
    width: 100%;
    padding: 200px 112px 140px 112px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
}

.hero_section .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.left_side > .hero_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.left_side > .hero_text .header_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.left_side > .hero_text .header_text > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header_text h1, span {
    color: var(--default-primary);
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header_text > h1 span {
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-main);
}

.hero_text .subheader_text {
    color: var(--default-secondary);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.left_side > .CTA_and_links {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.left_side > .CTA_and_links > .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.left_side > .CTA_and_links > .links img {
    width: 32px;
    height: 32px;
}

.hero_section .right_side {
    display: flex;
    align-items: center;
    gap: 64px;
    position: relative;
    justify-content: flex-end;
    flex: 1 0 0;
}

.right_side > .hero_section_img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    outline: 32px solid #C1C1C1;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.right_side #hero_img_bg {
    width: 590px;
    height: 524px;
    z-index: -1;
    position: absolute;
    right: 0px;
    bottom: -112.753px;
}


/* Skills Banner Section */

@keyframes banner_slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.skills_banner {
    background: var(--default-primary);
    box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.50);
    height: 90px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.skills_banner:hover .skills_banner_slider {
    animation-play-state: paused;
}

.skills_banner_slider {
    display: inline-block;
    animation: 8s banner_slider infinite linear;
    height: 100%;
    width: 1512px;
}

.skills_banner_slider > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.star_icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;   
}

.skill_item {
    color: var(--default-white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-right: 10px;
}


@media only screen and (max-width: 1200px) {

    .hero_section {
        padding: 180px  80px 112px 80px;
    }
}


@media only screen and (max-width: 992px) {

    .hero_section {
        padding: 240px 64px 140px 64px;
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        gap: 96px;
        justify-content: center;
    }

    .hero_section .right_side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;
    }

    .right_side #hero_img_bg {
        position: absolute;
        left: -145px;
        bottom: -112.753px;
    }

    .hero_section .left_side {
        justify-content: center;
        align-items: center;
    }

    .left_side > .hero_text {
        align-items: center;
        width: 600px;
    }

    .left_side > .hero_text .header_text {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .hero_text .subheader_text {
        text-align: center;
    }

    .left_side > .CTA_and_links {
        align-items: center;
        width: fit-content;
    }

}


@media only screen and (max-width: 768px) {

    .hero_section {
        padding: 240px 40px 120px 40px;
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        gap: 80px;
        justify-content: center;
        align-self: stretch;
    }

    .hero_section .right_side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;
    }

    .right_side > .hero_section_img {
        width: 250px;
        height: 250px;
    }

    .right_side #hero_img_bg {
        width: 520px;
        height: 462.494px;
        position: absolute;
        left: -135px;
        bottom: -106.494px;
    }

    .hero_section .left_side {
        justify-content: center;
        align-items: center;
    }

    .left_side > .hero_text {
        align-items: center;
        width: 100%;
    }

    .left_side > .hero_text .header_text {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .header_text h1 {
        text-align: center;
    }

    .header_text > h1 span {
        text-align: center;
    }

    .hero_text .subheader_text {
        text-align: center;
    }

    .left_side > .CTA_and_links {
        align-items: center;
        width: fit-content;
    }

}


@media only screen and (max-width: 576px) {

    .hero_section {
        padding: 96px 40px;
        padding: 190px 40px 90px 40px;
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        gap: 80px;
        justify-content: center;
        align-self: stretch;

    }

    .hero_section .right_side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;
    }

    .right_side > .hero_section_img {
        width: 220px;
        height: 220px;
    }

    .right_side #hero_img_bg {
        width: 450px;
        height: 400.235px;
        position: absolute;
        left: -115px;
        bottom: -90.235px;
    }

    .hero_section .left_side {
        justify-content: center;
        align-items: center;
    }

    .left_side > .hero_text {
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .left_side > .hero_text .header_text {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .header_text h1 {
        font-size: 48px;
        text-align: center;
        line-height: normal;
    }

    .header_text > h1 span {
        font-size: 48px;
        text-align: center;
        line-height: normal;
    }

    .hero_text .subheader_text {
        font-size: 14px;
        text-align: center;
    }

    .left_side > .CTA_and_links {
        align-items: center;
        width: fit-content;
    }

    .left_side > .CTA_and_links > .links img {
        width: 32px;
        height: 32px;
    }


    .star_icon {
        width: 24px;
        height: 24px;
    }

    .skill_item {
        font-size: 14px;
    }

    .project_showcase_section .section_header > h1 {
        font-size: 20px;
    }

    .project_showcase_section .section_header > a {
        font-size: 16px;
    }
}