:root {

    /* Blue */
    --blue-50: #EEEDFF;
    --blue-100: #CCC6FF;
    --blue-200: #B3AAFF;
    --blue-300: #9084FF;
    --blue-400: #7A6CFF;
    --blue-500: #5947FF;
    --blue-600: #5141E8;
    --blue-700: #3F32B5;
    --blue-800: #31278C;
    --blue-900: #251E6B;

    /* Red */
    --red-50: #F6E6E6;
    --red-100: #E4B0B0;
    --red-200: #D78A8A;
    --red-300: #C55454;
    --red-400: #B93333;
    --red-500: #A80000;
    --red-600: #990000;
    --red-700: #770000;
    --red-800: #5C0000;
    --red-900: #470000;

    /* Green */
    --green-50: #E6F4EC;
    --green-100: #B2DBC5;
    --green-200: #8CCAA9;
    --green-300: #58B282;
    --green-400: #37A36A;
    --green-500: #058C45;
    --green-600: #057F3F;
    --green-700: #046331;
    --green-800: #034D26;
    --green-900: #023B1D;

    /* Orange */
    --orange-50: #FBF4E6;
    --orange-100: #F3DCB0;
    --orange-200: #EDCB8A;
    --orange-300: #E5B354;
    --orange-400: #E0A533;
    --orange-500: #D88E00;
    --orange-600: #C58100;
    --orange-700: #996500;
    --orange-800: #774E00;
    --orange-900: #5B3C00;


    /* Teal-Blue */
    --teal-50: #E6FAF8;
    --teal-100: #B0EFE8;
    --teal-200: #8AE8DD;
    --teal-300: #54DDCD;
    --teal-400: #33D6C3;
    --teal-500: #00CCB4;
    --teal-600: #00BAA4;
    --teal-700: #009180;
    --teal-800: #007063;
    --teal-900: #00564C;


    /* Grey */
    --grey-50: #F9F9F9;
    --grey-100: #EBEBEB;
    --grey-200: #E2E2E2;
    --grey-300: #D5D5D5;
    --grey-400: #CDCDCD;
    --grey-500: #C0C0C0;
    --grey-600: #AFAFAF;
    --grey-700: #888888;
    --grey-800: #6A6A6A;
    --grey-900: #515151;


    /* Common Black and White */
    --black: #1A1A1A;
    --white: #fcfcfc;
}