.project_showcase_section {
    display: flex;
    padding: 96px 112px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}


/* Projects Page Version */
.projects_page {
    padding: 160px 112px 96px 112px;
}

.project_showcase_section .section_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.project_showcase_section .section_header > h1 {
    color: var(--default-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.project_showcase_section .section_header > a {
    color: var(--default-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
}

.project_showcase_section .section_header > a:hover {
    opacity: 1;
}


/* for cards holder */
.project_showcase_section .cards_holder {
    gap: 32px;
    width: 100%;
    position: relative;
}

.homePage_holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projectsPage_holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



@media only screen and (max-width: 1200px) {

    .home_page {
        padding: 80px 80px;
    }

    .projects_page {
        padding: 160px 80px 96px 80px;
    }

    .homePage_holder {
        grid-template-columns: repeat(2, 1fr);
    }

    .projectsPage_holder {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {

    .home_page {
        padding: 80px 64px;
    }

    .projects_page {
        padding: 140px 64px 80px 64px;
    }

    .homePage_holder {
        grid-template-columns: repeat(2, 1fr);
    }

    .projectsPage_holder {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {

    .home_page {
        padding: 80px 40px;
    }
    
    .projects_page {
        padding: 120px 64px 80px 64px;
    }

    .homePage_holder {
        grid-template-columns: repeat(2, 1fr);
    }

    .projectsPage_holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .home_page {
        padding: 64px 40px;
    }

    .projects_page {
        padding: 90px 40px 80px 40px;
    }

    .homePage_holder {
        grid-template-columns: repeat(1, 1fr);
    }

    .projectsPage_holder {
        grid-template-columns: repeat(2, 1fr);
        
    }

}
