.footer_section {
    display: flex;
    width: 100%;
    height: 112px;
    padding: 0px 112px;
    justify-content: space-between;
    align-items: center;
    background: var(--default-primary);
    margin-top: auto;
}

.footer_section > #copywright_text {
    color: var(--default-white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer_section > .footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer_links img {
    filter: invert(1);
    width: 32px;
    height: 32px;
}

.footer_links > a:hover {
    opacity: 0.7;
}


@media only screen and (max-width: 1200px) {

    .footer_section {
        padding: 0px 80px;
    }
}


@media only screen and (max-width: 768px) {

    .footer_section {
        padding: 0px 40px;
    }

}



@media only screen and (max-width: 576px) {
    .footer_section {
        height: 140px;
        padding: 32px 24px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    
    }
    
    .footer_section > #copywright_text {
        font-size: 14px;
        line-height: 20px
    }
    
    .footer_links img {
        width: 32px;
        height: 32px;
    }
}

